---
layout: archive
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- THIS IS YOUR NEW INTRODUCTORY PARAGRAPH -->
<p>I am deeply committed to teaching and find great joy in helping students connect finance concepts with real-world practice. Over the past five years, I have served as a teaching assistant for a wide range of finance courses at the Duke Fuqua School of Business. I particularly enjoy teaching MBA students, whose professional experience enriches classroom discussions and sharpens the relevance of academic ideas.</p>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}